#witchcraft-masthead {
	h1 {
		font-size: 5em;
		line-height: 1.4em;
		font-family: "Snowburst One", cursive;
	}
	h2 {
		font-family: "Snowburst One", cursive;
	}
}

#introduction {
	section {
		margin: 7px;
		font-size: 1.2em;
		line-height: 1.4em;
		background-color: #DCF4F4;
	}
	#title {
		font-family: "Snowburst One", cursive;
	}
}

#poster {
	width: 100%;
}